/* latin-ext */
@font-face {
  font-family: 'Audiowide';
  font-style: normal;
  font-weight: 400;
  src: local('Audiowide Regular'), local('Audiowide-Regular'), url(https://fonts.gstatic.com/s/audiowide/v8/l7gdbjpo0cum0ckerWCdmA_OIxo.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Audiowide';
  font-style: normal;
  font-weight: 400;
  src: local('Audiowide Regular'), local('Audiowide-Regular'), url(https://fonts.gstatic.com/s/audiowide/v8/l7gdbjpo0cum0ckerWCdlg_O.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


html {
  font-size: 14px; /* decreased base font size by ~2px (from 16px to 14px) */
  height: 100%;
}

body,
html {
  color: #222222; /* default text color for legibility on white background */
  margin: 0;
  padding: 0;
}

body {
  background-image: 
    linear-gradient(135deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.20) 100%),
    url('https://images.unsplash.com/photo-1552664730-d307ca884978?w=1400&q=80');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ffffff;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

#wrapper {
  background: transparent;
}

.content-section {
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 4px 10px #ea2088;
  color: #222222;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}



/* { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; }

html { width: 100%; height:100%; overflow:hidden; }
*/



/* Navbar title CSS */
.titlefont{
  color: #228DFF;
  font-family: Audiowide;
}

.align-middle{
  text-align: center;
}

.textinput{
  background-color: #4F102B;
  color: white;
}

.textinput:disabled{
  background-color: rgb(158, 27, 84);
  color: white;
}

.putprice {
  background-color: #9e1b54 !important;
  color: white;
}

.emailinput{
  background-color: #4F102B;
  color: white;
}

.emailinput.focus{
  background-color: #4F102B;
  color: white;
}

.textinput:focus{
  background-color:#4F102B;
  color: white;
}

.ghost-button {
  color: rgb(255, 255, 255);
  background-color: transparent;
  border: 2px solid rgb(255, 255, 255);
  font-size: 17px;
  padding: 7px 12px;
  font-weight: bolder;
  transition-duration: 0.2s;
  display: inline-block;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  min-width: 120px;
  border-radius: 8px;
}

.ghost-button:hover, .ghost-button:active {
  color:#fff;
  background-color:transparent;
  box-shadow: 0 2px 7px #ffffff;
}


.ghost-blue {
  color: #228DFF;
  background-color: transparent;
  border: 2px solid #228DFF;
  font-size: 17px;
  padding: 7px 12px;
  font-weight: bolder;
  transition-duration: 0.2s;
  display: inline-block;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  min-width: 120px;
  border-radius: 8px;
}

.ghost-blue:hover, .ghost-blue:active {
  color:#fff;
  background-color:transparent;
  box-shadow: 0 2px 7px #0000ff;
}


.ghost-green {
  color: #27ff34;
  background-color: transparent;
  border: 2px solid #27ff34;
  font-size: 17px;
  padding: 7px 12px;
  font-weight: bolder;
  transition-duration: 0.2s;
  display: inline-block;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  min-width: 120px;
  border-radius: 8px;
}

.ghost-green:hover, .ghost-green:active {
  color:#fff;
  background-color:transparent;
  box-shadow: 0 2px 7px #27ff34;
}
 

.ghost-pink {
  color: #ea2088;
  background-color: transparent;
  border: 2px solid #ea2088;
  font-size: 17px;
  padding: 7px 12px;
  transition-duration: 0.2s;
  font-weight: bolder;
  display: inline-block;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  min-width: 120px;
  border-radius: 8px;
}

.ghost-pink:hover, .ghost-pink:active {
  color:#fff;
  background-color:transparent;
  box-shadow: 0 2px 7px #ea2088;
}


.ghost-red {
  color:#ff3c16;
  background-color: transparent;
  border: 2px solid #ff3c16;
  font-size: 17px;
  padding: 7px 12px;
  font-weight: bolder;
  transition-duration: 0.2s;
  display: inline-block;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  min-width: 120px;
  border-radius: 8px;
}

.ghost-red:hover, .ghost-red:active {
  color:#fff;
  background-color:transparent;
  box-shadow: 0 2px 7px #ff3c16;
}


.glow{
  background-color: #014c8f;
}

.glow:hover {
  background-color: #014c8f;
  color: white;
  box-shadow: 0 2px 7px #ea2088;
}

.btn-pink{
  color:#fff;
  background-color:#ea2088;
  border-color: #fff;
  border-left-color: #ea2088;
}

.btn-pink:hover{
  color:#fff;
  background-color:#f03d99;
  border-color:#f03d99;
}

.panel-heading-text{
  color: #f03d99;
  font-size: 1.7rem;
  border-bottom: 2px solid white;
  margin-bottom: 10px;
}

.panel-body-text{
  font-size: 1.2rem;
}